body{
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    background-color: aliceblue;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
h1{
    color: darkslateblue;
    font-family: 'Shrikhand', cursive;
}

h2 { 
    color: fuchsia;
    font-size:25x;
    font-family: 'Fjalla One', sans-serif;
}

h3 {
}
h4 {}
h5{}
h6{}


span#lugar{
    font-weight: 700;
}
div#mapid{
    width: 100%; 
    height: 400px; 
    margin-bottom: 20px;"
}